DISCORD_TOKEN=dein_bot_token
DISCORD_CLIENT_ID=deine_application_id
GUILD_ID=deine_test_server_id
BRAND_NAME=NICO Support
BRAND_COLOR=43272
BILLING_CATEGORY_ID=category_id_billing
TECH_CATEGORY_ID=category_id_tech
REPORT_CATEGORY_ID=category_id_report
SUPPORT_LOG_CHANNEL_ID=channel_id_fuer_ticket_logs
STAFF_ROLE_ID=rolle_id_fuer_support_team
INACTIVITY_MINUTES=120
